.main-section{
    
    background-image: url("../static/bigpofilepic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    div{
        color:white;
    }

    .Overlay-container{
        width:100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
    }

}